.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.lightRoundedShadowedButton{
    -fx-background-radius:7;
    -fx-cursor:hand;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 1, 1);
}

.darkRoundedShadowedButton{
    -fx-background-radius:7;
    -fx-cursor:hand;
    -fx-effect: dropshadow(three-pass-box, #555555, 3, 0, 1, 1);
}

.roundedButton{
    -fx-background-radius: 7;
    -fx-cursor:hand;
}

.roundedTopButton{
    -fx-background-radius: 7 7 0 0;
    -fx-cursor:hand;
}

.roundedBottomButton{
    -fx-background-radius: 0 0 7 7;
    -fx-cursor:hand;
}

.roundedBottomRightButton{
    -fx-background-radius: 0 0 7 0;
    -fx-cursor:hand;
}

.notRoundedButton{
    -fx-background-radius: 0;
    -fx-cursor:hand;
}

.customTextfield{
    -jfx-label-float: true;
}

.customToggleButton{
    -fx-align-content: right;
    -fx-cursor:hand;
    /*
    -jfx-toggle-color: #dd6677;
    -jfx-toggle-line-color: #cc4455;
    */
}

.customPane{
    -fx-background-radius: 7;
    -fx-effect: dropshadow(three-pass-box, gray, 5, 0, 1, 1);
}

.menuPane{
    -fx-background-radius: 0 7 7 0;
    -fx-effect: dropshadow(three-pass-box, gray, 5, 0, 1, 1);
}

.autocompletePane{
    -fx-background-radius: 0 0 7 7;
    -fx-effect: dropshadow(three-pass-box, gray, 5, 0, 1, 1);
}

.selectedLeftTimeButton{
    -fx-effect: dropshadow(three-pass-box, gray, 2, 0, 2, 1)
}

.selectedRightTimeButton{
    -fx-effect: dropshadow(three-pass-box, gray, 2, 0, -1, 1)
}

.selectedRightTabButton{
    -fx-effect: dropshadow(three-pass-box, gray, 2, -3, -1, -1)
}

.selectedLeftTabButton{
    -fx-effect: dropshadow(three-pass-box, gray, 2, -3, 2, -1)
}