* {
    -accent-color-primary: #66DD77;
    -accent-color-secondary: #44CC55;
}

.customButtonNoFill{
    -fx-background-color: transparent;
    -fx-cursor:hand;
}

.subjectButton{
    -fx-background-color:#e8e8e8;
    -fx-background-radius: 7;
    -fx-cursor:hand;
    -jfx-focus-color:#dddddd;
}

.timeButton{
    -fx-background-color:#cccccc;
    -fx-border-radius:7;
    -fx-background-radius:7;
    -fx-cursor:hand;
}

.dayButton{
    -fx-background-color:#bbbbbb;
    -fx-border-radius:7;
    -fx-background-radius:7;
    -fx-cursor:hand;
    -fx-effect: dropshadow(three-pass-box, lightgray, 4, 0, 1, 4);
}

.nameButton{
    -fx-background-color: -accent-color-primary;
    -fx-border-radius: 7;
    -fx-background-radius: 7;
    -fx-cursor:hand;
    -fx-effect: dropshadow(three-pass-box, lightgray, 4, 0, 1, 4);
}

.customButtonBottom{
    -fx-background-color: #dddddd;
    -fx-border-radius: 0 0 7 7;
    -fx-background-radius: 0 0 7 7;
    -fx-cursor:hand;
}

.roundedTopButton{
    -fx-border-radius: 7 7 0 0;
    -fx-background-radius: 7 7 0 0;
}

.notRoundedButton{
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.customTextfield{
    -fx-prompt-text-fill: #888888;
    -jfx-focus-color: -accent-color-primary;
    -jfx-unfocus-color: #888888;
}

.customtogglebutton{
    -jfx-toggle-color: -accent-color-primary;
    -jfx-untoggle-color: #ffffff;
    -jfx-toggle-line-color: -accent-color-secondary;
    -jfx-untoggle-line-color: #888888;
}

.customPanel{
    -fx-background-color: #EEEEEE;
    -fx-background-radius: 7;
    -fx-effect: dropshadow(three-pass-box, gray, 5, 0, 1, 1);
}

.menuPanel{
    -fx-background-color: #EEEEEE;
    -fx-background-radius: 0 7 7 0;
    -fx-effect: dropshadow(three-pass-box, gray, 5, 0, 1, 1);
}

.menuBackgroundPanel{
    -fx-background-color: #00000055;
}
